@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

.login-button {
  border-radius: 100px;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  border-style: none;
  background: linear-gradient(to right, rgb(56, 44, 104) 0%, rgb(141, 112, 178) 173.24%);
  color: white;
  font-weight: 700;
  cursor: pointer;
}
